.productos-btn{
font-family:Arial, Helvetica, sans-serif;
text-decoration: none;
display: inline-block;
background-color: rgb(6, 135, 255);
color: rgb(255, 255, 255);
padding: 8px 15px;
border-radius: 10px;
font-size: 0.9rem;
cursor: pointer;
}
.productos-btn:hover {
 background-color: #00f050;
 }
