/* - estilos generales  */

body {
  background: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* - contenedor general - */

.container {
  max-width: 450px;
  margin: 40px auto;
  padding: 10px;
}

/* - formularios tarjeta - */

.form {
  width: 100%;
  background-color: #ffffff;
  padding: 35px 25px;
  box-shadow: 0px 4px 14px rgba(0,0,0,0.12);
  border-radius: 14px;
  margin-bottom: 40px;
  text-align: center;
}

/* - titulos - */

.title {
  font-size: 1.9rem;
  font-weight: 700;
  color: #1a202c;
  margin-bottom: 25px;
}

/* - Labels - */

.label {
  display: block;
  text-align: left;
  color: #000;
  font-weight: bold;
  margin-bottom: 6px;
}

/* - Inputs - */

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: 1px solid #cbd5e0;
  border-radius: 6px;
  outline: none;
  transition: 0.18s;
}

.input:focus {
  border-color: #3182ce;
  box-shadow: 0 0 0 2px rgba(49,130,206,0.25);
}

/* - Boton de submit - */

.submit {
  background-color: #1a202c;
  color: #ffffff;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.18s ease;
}

.submit:hover {
  background-color: #2d3748;
}

/* - HR o division en el form - */

hr {
  max-width: 320px;
  margin: 45px auto;
  border: none;
  border-top: 1px solid #aaa;
}

/* - Mensajes de error - */

.error {
  color: red;
  background: #ffe5e5;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

/* - botones de productos - */
.productos-btn a {
  text-decoration: none;
  color: #ffffff;       
  display: inline-block;
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 0.9rem;
  background-color: rgb(3, 150, 255);
  transition: 0.3s;
}

.productos-btn a:hover {
  background-color: #00f050;
}

